<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>
    {{>header}}
    <p class="help">Not Found</p>
    <p class="help">{{message}}</p>
    {{>footer}}

    <script src="./js/index.js"></script>
</body>

</html>