<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>
    {{>header}}
    <p class="help">The Weather App allows the user to find the current weather conditions of any area. It provides the user with the temperature, precipitation percentage and the forecast.</p>
    {{>footer}}

    <script src="./js/index.js"></script>
</body>

</html>