<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>
    {{>header}}
    <p class="help">This page contains info about the usage. To find the weather of a particular region, first go to homepage via the 'Weather' button on the navbar. Type the location for which you want to find weather in the searchbar and click on the search button. The data will be displayed below the searchbar once loaded.</p>
    <p class="help">{{message}}</p>
    {{>footer}}

    <script src="./js/index.js"></script>
</body>

</html>