<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>
    {{>header}}
    <p class="weather">Use this page to get weather info.</p>
    <p class="weather"><span>Location</span>: {{location}}</p>
    <p class="weather"><span>Forecast</span>: {{forecast}}</p>
    {{>footer}}

    <script src="./js/index.js"></script>
</body>

</html>